<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first handlebars page</title>
</head>
<body>
    <h1>Hello, {{name}}!</h1>
    <h1>I'm {{age}} years old!</h1>
    <h2>I'm too cool!!!</h2>

    {{#if isAdult}}
    <h3>You are not allowed to enter this website!</h3>
    {{else}}
    <h3>Some cool content</h3>
    {{/if}}

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati iusto natus praesentium quisquam recusandae earum beatae illo maiores vero! Quis iusto laborum numquam quasi porro libero dignissimos error illo quaerat?</p>
    <a href="/Pesho">The best profile!</a>
    <footer>All rights reserved</footer>
</body>
</html>