#green{
    display: inline-block;
    background-color: green;
   
}
#blue{
    display: inline-block;
    background-color: blue;
   
}
#red{
    display: inline-block;
    background-color: red;
    
}
#purple{
    display: inline-block;
    background-color: purple;
    
}
#orange{
    display: inline-block;
    background-color: orange;
    
}
div{
    padding: 20px;
    border: 3px solid yellow;
    margin: 20px;
    font-family: 'Indie Flower', cursive;
    font-size: large;
    font-weight: bold;
    color: white;
}